/* 
 
 CSS incluindo itens do Bootstrap nos formulários
 
 */
.bs-callout {
	padding: 20px;
	margin: 20px 0px;
	border-width: 1px 1px 1px 5px;
	border-style: solid;
	border-color: #EEE;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 3px;
}
.bs-callout-warning {
	border-left-color: #F0AD4E;
}

input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}
input[disabled],
input[readonly],
fieldset[disabled] input {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

/* Classes OpenERP */

.openerp .oe_form .oe_form_field {
	vertical-align: middle;
    min-height: 40px;
}
.openerp .oe_form input[type="text"], 
.openerp .oe_form input[type="password"], 
.openerp .oe_form input[type="file"], 
.openerp .oe_form select {
	min-height: 40px;
}

.openerp .oe_form .oe_form_label_help[for], .openerp .oe_form .oe_form_label[for] {
	padding-top: 3px !important;
}

.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]), 
.openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]),
.openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]) 
{
		background-color: transparent !important;
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.openerp .oe_list_content > tbody > tr:nth-child(2n+1) {
	background: #FFF;
}
.navbar {
	z-index: 2;
	-webkit-box-shadow: 1px 1px 5px rgb(0,0,0);
	box-shadow: 1px 1px 5px rgb(0,0,0);
	border-color: rgba(0,0,0,0.5);
}
.navbar .oe_menu_text, .navbar .oe_topbar_name {
	color: #FFF ;
}
.navbar-default .navbar-nav > li > a  {
	height: 80px;
	padding: 30px 10px !important;
}
.openerp .oe_secondary_submenu .oe_menu_text:hover {
	color: #000;
}
.navbar-nav .active > a{
	background: -moz-linear-gradient(top, rgba(12,17,63,0.97) 0%, rgba(12,17,63,1) 87%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(12,17,63,0.97)), color-stop(87%,rgba(12,17,63,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(12,17,63,0.97) 0%,rgba(12,17,63,1) 87%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(12,17,63,0.97) 0%,rgba(12,17,63,1) 87%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(12,17,63,0.97) 0%,rgba(12,17,63,1) 87%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(12,17,63,0.97) 0%,rgba(12,17,63,1) 87%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f70c113f', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	margin-top: 0 !important;
	padding: 6px 8px !important;
}
.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a {
	background: #428BCA;
}
.openerp .oe_list_content > tfoot {
	display: none;
}
.openerp .oe_view_manager_current > .oe_view_manager_header{
	background: #f0eeee;
	box-shadow: none;
}
.oe_logo img{
	height: 50px;
}
.openerp a.button:link,
.openerp a.button:visited,
.openerp button,
.openerp .oe_button,
.openerp input[type="submit"]
{
	font-weight: normal;
	font-size: 12;
	padding: 8px 15px;
}
.openerp button.oe_highlight {
	transition: all 2s ease 2s;
	background:rgba(0, 0, 138, 1);
}
.openerp button.oe_highlight:hover {
	background:rgba(0, 0, 138, 1);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.openerp .oe_leftbar{
	border: none;
}
.openerp .oe_secondary_menu_section {
	font-size: 16px;
}
.oe_footer {
	display: none !important;
}
.openerp .oe_secondary_submenu {
	font-size: 15px;
}
.openerp .oe_searchview  {
	min-width: 30% !important;
	width: 100% !important;
}


.openerp .oe_application {
	transition: all 2s linear 1s;
}
.openerp .oe_list_content {
	-webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
}

.openerp .oe_list_content tr th,
.openerp .oe_list_content tr td
{
	padding: 10px 3px !important;
	text-align: left;
}
.openerp .oe_systray {
	margin-top: 25px;
}
.modal-header {
	min-height: 60px !important;
}
.modal-title {
	display: none;
}
.openerp .oe_list_content td.oe_number {
	text-align: left !important;
}
.nav > li > a:hover, .nav > li > a:focus {
	color: #000 !important;
}

/* Minhas Classes */

.form-reduzido {
	max-width: 60%;
	margin-left: auto !important;
	margin-right: auto !important;
}
.form-reduzido-esquerda {
	max-width: 60%;
}

.form-centralizado .oe_view_manager{
	margin-left: auto !important;
	margin-right: auto !important;
}

.form-reduzido input{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.lista-m2m .oe_view_manager,
.lista-m2m .oe_view_manager .oe_list_content,
.lista-m2m .oe_form_field_many2many .oe_list_content{
	margin: 0 !important;
	width: 100% !important;	
}
#top-bar{
	height: 80px;
}
#app {
	position: absolute;
}

#menu-opcoes {
	position: relative !important;
	left: -100%;
	z-index: 1;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #1b228e 88%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(88%,#1b228e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#1b228e 88%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#1b228e 88%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#1b228e 88%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#1b228e 88%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1b228e',GradientType=0 ); /* IE6-9 */
	border-radius: 0 0 40px 0;
	padding-bottom: 30px;
	-webkit-transition: all 0.4s ease-in-out 0.4s;
	-webkit-transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
		-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
			transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

	-webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
		-o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
			transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}
#botao-menu-opcoes span{
	color: #FFF;
	background: #1e5799; /* Old browsers */
	z-index: 0;
	background: -moz-linear-gradient(top, #1e5799 0%, #1b228e 88%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(88%,#1b228e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#1b228e 88%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#1b228e 88%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#1b228e 88%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#1b228e 88%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1b228e',GradientType=0 ); /* IE6-9 */
	border-radius: 0 0 20px 0;
	position: absolute;
	margin-top: -1px;
	margin-left: 0;
	padding: 15px;
}
#botao-menu-opcoes span:hover{
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
			box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

input:focus, 
.form-reduzido input:focus,
.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]):focus, 
.openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]):focus,
.openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]):focus 
{
	border-color: rgba(60, 228, 27, 1);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(60, 228, 27, 1);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(60, 228, 27, 1);
}

.data input, .data-ano input, .numero input{
	width: 80px !important;
}
.telefone input {
	width: 110px !important;
}
.tempo input {
	width: 50px !important;
}
